.customjs_ruledesc-base{
    width: 100%;
}
.dg_ruleDes_table{
    border-collapse: collapse;
    width: 100%;
}
.dg_ruleDes_table tr td{
     border: 1px solid black;
    text-align:center;
    height: 25px;
}
.dg_ruleDesc_header{
    font-weight: bold;
}
.dg_ruleDes_table tr td:nth-child(1) {
    width: 25%;
}
.dg_ruleDes_table tr td:nth-child(2) {
    width: 25%;
}
.dg_ruleDes_table tr td:nth-child(3) {
    width: 50%;
}
.ruleDesc_link {
    margin-left: 5px;
}
.ruleDesc_input{
    min-width: 150px;
}