/*----------------------------------------提前定义的变量------------------------------------------------- */
/*--------------------------------------根据屏幕宽度设置基准 START------------------------------------------------- */
@media only screen and (min-width: 0px) {
  html {
    font-size: 8px !important;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 8px !important;
  }
}
@media only screen and (min-width: 1500px) {
  html {
    font-size: 9px !important;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 10px !important;
  }
}
@media only screen and (min-width: 2100px) {
  html {
    font-size: 11px !important;
  }
}
@media only screen and (min-width: 2400px) {
  html {
    font-size: 12px !important;
  }
}
@media only screen and (min-width: 2700px) {
  html {
    font-size: 13px !important;
  }
}
@media only screen and (min-width: 3000px) {
  html {
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 3300px) {
  html {
    font-size: 15px !important;
  }
}
@media only screen and (min-width: 3600px) {
  html {
    font-size: 16px !important;
  }
}
@media only screen and (min-width: 3900px) {
  html {
    font-size: 17px !important;
  }
}
/*--------------------------------------根据屏幕自适应 END------------------------------------------------- */
html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: 'Helvetica Neue', Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei";
  color: #333;
  -webkit-text-size-adjust: none;
  margin: 0;
  background: #fff;
  padding: 0;
}
.page {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background: no-repeat center url(images/login-bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 100px;
  margin-top: 70px;
}
.logo {
  min-width: 60px;
  height: 60px;
  background: no-repeat center url(images/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.logo-caption {
  font-size: 32px;
  color: #283362;
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  padding-left: 8px;
}
.logo-caption-phone {
  display: none;
  font-size: 32px;
  color: #444444;
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  padding-left: 8px;
}
.content {
  padding-left: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.login-content {
  width: 373px;
  min-height: 393px;
  background: transparent;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.login-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.foot {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.version {
  display: block;
  font-size: 12px;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
}
.login-account,
.login-qrcode,
.login-phone {
  display: none;
}
.sys .no-sys-account:not(.only-external) .login-account,
.sys .no-sys-account:not(.only-external) .switch-account {
  display: none;
}
.sys .no-sys-qrcode:not(.only-external) .login-qrcode,
.sys .no-sys-qrcode:not(.only-external) .switch-qrcode {
  display: none;
}
.sys .no-sys-phone:not(.only-external) .login-phone,
.sys .no-sys-phone:not(.only-external) .switch-phone {
  display: none;
}
.external .no-external-account:not(.only-sysuser) .login-account,
.external .no-external-account:not(.only-sysuser) .switch-account {
  display: none;
}
.external .no-external-qrcode:not(.only-sysuser) .login-qrcode,
.external .no-external-qrcode:not(.only-sysuser) .switch-qrcode {
  display: none;
}
.external .no-external-phone:not(.only-sysuser) .login-phone,
.external .no-external-phone:not(.only-sysuser) .switch-phone {
  display: none;
}
.account .login-phone,
.account .login-qrcode {
  display: none;
}
.account .login-account {
  display: block;
}
.phone .login-qrcode,
.phone .login-account {
  display: none;
}
.phone .login-phone {
  display: block;
}
.qrcode .login-phone,
.qrcode .login-account {
  display: none;
}
.qrcode .login-qrcode {
  display: block;
}
.login-title {
  display: none;
  font-size: 50px;
  color: #11255C;
}
.login-tab-header {
  display: none;
}
.has-tab > .switch-login-type.login-tab-header {
  display: block;
}
.show-user-tabs .login-tab-header.switch-login-user {
  display: block;
}
.show-user-tabs .login-tab-header.switch-login-type {
  display: none;
}
.one-type .login-tab-header {
  display: none;
}
.one-type .login-title {
  display: block;
}
.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-inline-start: 0;
  height: 100%;
}
.tab-item {
  list-style-type: none;
  position: relative;
  font-size: 20px;
  width: 50%;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 0.92px;
  cursor: pointer;
}
.tab-item:hover {
  opacity: 0.8;
}
.item-account,
.item-qrcode,
.item-sms {
  display: none;
}
.no-item-account .item-qrcode,
.no-item-account .item-sms {
  display: block;
}
.no-item-qrcode .item-account,
.no-item-qrcode .item-sms {
  display: block;
}
.no-item-sms .item-account,
.no-item-sms .item-qrcode {
  display: block;
}
.inner-active .item-inner,
.outer-active .item-outer,
.account-active .item-account,
.qrcode-active .item-qrcode,
.sms-active .item-sms {
  color: #3892D4;
  opacity: 1;
}
.item-outer:before,
.item-qrcode:before,
.item-sms:before {
  content: " ";
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  background: #CECECE;
  height: 24px;
  width: 1px;
}
.login-status {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  min-height: 40px;
  text-align: center;
  color: red;
}
.login-success {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 30px;
  text-align: center;
}
.row-user,
.row-password,
.row-captcha,
.row-phone,
.row-code {
  position: relative;
  margin-bottom: 25px;
}
.row-user:before,
.row-password:before,
.row-code:before,
.row-phone:before,
.row-captcha:before {
  font-family: "szfont";
  position: absolute;
  top: 9px;
  left: 9px;
  color: #999;
  font-size: 18px;
  z-index: 1;
  /* 避免FireFox自动填充表单时遮挡图标 */
}
.row-user:before {
  content: '\e043';
}
.row-password:before,
.row-code:before {
  content: '\e168';
}
.row-captcha:before {
  content: '\e152';
}
.row-phone:before {
  content: '\e510';
}
.input-user,
.input-password,
.input-captcha,
.input-phone,
.input-code,
.input-sendcode {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px 0 40px;
  border-radius: 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #BEC5CC;
  box-sizing: border-box;
  outline: none;
  background: transparent;
}
.input-sendcode {
  color: #3892D4;
  width: 140px;
  padding: 0 10px 0 10px;
  margin-bottom: 0;
  cursor: pointer;
}
.input-sendcode.waiting {
  color: #d2d2d2;
  pointer-events: none;
  cursor: not-allowed;
}
.input-user:focus,
.input-password:focus,
.input-captcha:focus,
.input-code:focus,
.input-phone:focus {
  border-color: #3892D4;
  box-shadow: none;
}
.row-captcha {
  display: none;
}
.captcha-show .row-captcha {
  display: block;
}
.input-captcha,
.input-code {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  margin-bottom: 0px;
}
.captcha-img,
.input-sendcode {
  float: right;
  width: 34%;
  height: 40px;
  padding: 0;
  border: none;
  cursor: pointer;
}
.login-btn {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: 50px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  background: #3892D4;
  box-shadow: none;
  border-radius: 21px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.captcha-show .login-btn {
  margin-top: 30px;
}
.login-btn:hover {
  opacity: 0.9;
}
.login-options,
.login-options-qrcode,
.login-options-phone {
  margin-top: 25px;
  display: flex;
  align-content: space-around;
  justify-content: center;
}
.no-link-switch .login-options,
.no-link-switch .login-options-qrcode,
.no-link-switch .login-options-phone {
  display: none;
}
.only-sysuser .login-options > .switch-qrcode,
.only-external .login-options > .switch-qrcode,
.only-sysuser .login-options-phone > .switch-qrcode,
.only-external .login-options-phone > .switch-qrcode {
  display: none;
}
.only-sysuser .login-options-qrcode,
.only-external .login-options-qrcode {
  display: none;
}
.login-option:not(.login-remember):hover {
  opacity: 0.8;
}
.login-option {
  min-height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #666666;
  position: relative;
  padding: 0 20px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.login-option:hover {
  opacity: 0.8;
}
.sys > .sys-all:not(.only-sysuser) .switch-qrcode + .switch-phone:before,
.sys > .sys-all:not(.only-sysuser) .switch-qrcode + .switch-account:before,
.sys > .sys-all:not(.only-sysuser) .switch-phone + .switch-account:before,
.external > .external-all:not(.only-external) .switch-qrcode + .switch-phone:before,
.external > .external-all:not(.only-external) .switch-qrcode + .switch-account:before,
.external > .external-all:not(.only-external) .switch-phone + .switch-account:before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 20px;
  left: 0;
  top: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}
.login-remember:before {
  font-family: "szfont";
  font-size: 18px;
  margin-right: 4px;
  vertical-align: top;
}
.login-remember {
  cursor: pointer;
  padding-left: 10px;
}
.login-remember:hover {
  opacity: 0.8;
}
.login-remember:before {
  content: "\e174";
  color: #a9a9a9;
  left: 9px;
}
.row-phone,
.row-code {
  display: flex;
  flex-direction: row;
}
.phone-input {
  flex: 1;
  position: relative;
}
.select-icon {
  color: #bababa;
  font-size: 18px;
}
.area-select {
  height: 40px;
  width: 100px;
  border: none;
  border-bottom: 1px solid #838D97;
  padding: 0 10px 0 20px;
  font-size: 16px;
  color: #333333;
  background: transparent;
}
.qrcode-content {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  position: relative;
}
.qrcode-content > .qrcode {
  padding-top: 10px;
  height: 200px;
  width: 200px;
}
.qrcode-desc {
  padding-top: 20px;
  font-size: 14px;
  color: #333333;
}
.remember-checked:before {
  content: "\e173";
  color: #3892D4;
}
.qrcode-refresh-mask.invisible {
  display: none;
}
.qrcode-refresh-mask {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  height: 182px;
  width: 182px;
  margin-top: 9px;
}
.qrcode-refresh-content {
  color: #222;
  display: inline-block;
  position: absolute;
  height: 110px;
  width: 130px;
  top: 50%;
  margin-top: -35px;
  left: 50%;
  margin-left: -65px;
  text-align: center;
}
.qrcode-refresh-btn {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F8F8F8));
  background-image: -webkit-linear-gradient(top, #fff 0, #F8F8F8 100%);
  background-image: -o-linear-gradient(top, #fff 0, #F8F8F8 100%);
  background-image: linear-gradient(to bottom, #fff 0, #F8F8F8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFFFF", endColorstr="#FFF8F8F8", GradientType=0);
  border-radius: 2px;
  vertical-align: middle;
  border: 1px solid #AAA;
  display: inline-block;
  margin: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  min-width: 24px;
  height: 24px;
  padding: 0 12px;
  background: #F5F5F5;
  line-height: 24px;
  outline: 0;
  text-align: center;
  font-size: 12px;
  color: #222;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 10px;
  text-decoration: none;
}
#wework:before {
  content: "\e811";
  padding-left: 3px;
}
#dingtalk:before {
  content: "\e813";
  padding-left: 3px;
}
#loading {
  width: 300px;
  height: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading-ring {
  position: relative;
  width: 50px;
  height: 50px;
  box-shadow: inset 0 0 0 5px #DFDFDF;
  border-radius: 50%;
}
.loading-circle {
  position: absolute;
  clip: rect(0, 50px, 50px, 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 5px #5745c0;
  animation: rotate 0.6s linear infinite;
}
.foot-bar {
  display: none;
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  /** 屏幕宽度大于480px，小于1024px时，视为pad效果  */
  .page {
    background: no-repeat center url(images/login-bg.jpg);
  }
  .logo {
    background: no-repeat center url(images/logo.png);
  }
  .login-btn {
    background: #3892D4;
    box-shadow: none;
  }
  .input-user:focus,
  .input-password:focus,
  .input-captcha:focus {
    border-color: #3892D4;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  /** 屏幕宽度小于440px时，只显示登录对话框，视为移动效果  */
  .page {
    background: #FFFFFF;
    background-size: contain;
  }
  .logo {
    background: no-repeat center url(images/logo.png);
    margin: 0;
    background-size: cover;
  }
  .login-btn {
    background: #3892D4;
    box-shadow: none;
  }
  .input-user:focus,
  .input-password:focus,
  .input-captcha:focus,
  .input-phone:focus,
  .input-code:focus {
    border-color: #3892D4;
  }
  .input-sendcode {
    color: #3892D4;
  }
  .inner-active .item-inner:before,
  .outer-active .item-outer:before,
  .account-active .item-account:before,
  .qrcode-active .item-qrcode:before,
  .sms-active .item-sms:before {
    background: #3892D4;
  }
  .remember-checked:before {
    color: #3892D4;
  }
  .logo-caption-phone {
    display: flex;
  }
  .login-content {
    box-shadow: none;
  }
  .content {
    padding: 0;
    align-items: center;
  }
  .login-box-body {
    padding: 0 20px;
  }
  .only-external .header,
  .only-sysuser .header {
    height: 15%;
  }
  .only-external .login-box-header,
  .only-sysuser .login-box-header {
    display: none;
  }
  .login-title,
  .logo-caption,
  .login-qrcode,
  .row-remember,
  .switch-qrcode,
  .foot {
    display: none;
  }
  .header {
    justify-content: center;
    margin: 80px 0 0 0;
    height: 25%;
  }
  .tab-item {
    font-size: 20px;
  }
  .no-link-switch:not(.one-type) .login-options,
  .no-link-switch:not(.one-type) .login-options-phone {
    display: flex;
  }
  .sys > .sys-all:not(.only-sysuser) .switch-qrcode + .switch-phone:before,
  .sys > .sys-all:not(.only-sysuser) .switch-qrcode + .switch-account:before,
  .external > .external-all:not(.only-external) .switch-qrcode + .switch-phone:before,
  .external > .external-all:not(.only-external) .switch-qrcode + .switch-account:before {
    display: none;
  }
  .foot-bar {
    flex-direction: column;
    width: 100%;
    height: 30%;
    margin-top: 30px;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
  }
  .foot-bar.show-bar {
    display: flex;
  }
  .foot-title {
    font-size: 14px;
    color: #666666;
    position: relative;
    height: 40px;
    display: flex;
    white-space: nowrap;
    align-items: center;
  }
  .foot-title:before {
    content: "";
    display: inline-block;
    margin-right: 20px;
    height: 1px;
    width: 110px;
    border-bottom: 1px solid #D8D8D8;
  }
  .foot-title:after {
    content: "";
    display: inline-block;
    margin-left: 20px;
    height: 1px;
    width: 110px;
    border-bottom: 1px solid #D8D8D8;
  }
  .foot-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .logins-item {
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    position: relative;
  }
  .invisible.logins-item {
    display: none;
  }
  #login-wxservice {
    background: no-repeat center url(images/wechat.svg);
  }
  #login-wxminiprogram {
    background: no-repeat center url(images/wxapp.svg);
  }
}
@keyframes rotate {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
