
// custom.less作用域整个项目SPG

// 覆盖直接改属性值，新增属性则是追加
// .spgcomponent-body {
//     display: block;
// }


// 隐藏系统设置-回归测试
#regressionTesting {
    display: none!important;
}

// 隐藏系统设置-安全登报
#securityLevelProtection {
     display: none!important;
}

// 隐藏系统设置-阈值设置
#thresholds {
   display: none!important;
}

// 隐藏系统设置-日志记录
#log {
    display: none!important;
}


/**
 * 隐藏模型下所有文件夹，显示模型下【sys、etl】 
 * 考虑到设置隐藏后，对应文件夹只是不显示前端，仍然存在前端，占据本身的位置，可将【显示】的文件夹【拖】到最上方
 */
#DNru3nwgs3KjNjnG3vmYIE {
    display: none!important;
}
#Ng8AQ1yA5mGoFyMZNpY4eC  {
    display: none!important;
}
#IcrVUS4yufDS4AKJcs0JAG  {
    display: none!important;
}
#LBxavY7diSDgKj6FFVt2AE {
    display: none!important;
}