/**
 * 食品溯源流程拓扑图样式
 *
 * @createdate 20210901
 * @author kongwq
 */
.scroll-container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: auto;
	margin-top: 16px;
}


.topological-container {
	width: 100%;
	height: 100%;
	text-align: center;
}

.topological-base {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	flex-shrink: 1;
	flex-grow: 1;
}

.topological {
	cursor: pointer;
}

.topological-btn {
	position: fixed;
}

g.node>rect {
	fill: rgba(17, 137, 233, 0.0555616);
	stroke: rgba(17, 137, 233, 0.601453);
	stroke-width: 1;
}

 g.root>rect {
	fill: rgba(68, 235, 175, 0.0555616);
	stroke: rgba(68, 235, 175, 0.601453);
	stroke-width: 1;
}

g.node div.data-title {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #555555;
}

g.node div.data-content1 {
	text-align: left;
	margin-top: 15px;
	font-size: 14px;
	color: #6A6A6A;
}

g.node div.data-content {
	text-align: left;
	margin-top: 5px;
	font-size: 14px;
	color: #6A6A6A;
}

.edgePath path {
	stroke: #CCCCCC;
	stroke-width: 1;
}

.node-container {
	padding: 15px;
}