//定制列表控件相关样式
.customjs_list-base {
	width: 100%;
    height: 100%;
}

.customJs_list_table {
	border-collapse: collapse;
	width: 100%;
    height: 100%;
}

.customJs_list_table tr td {
	border: 1px solid black;
	text-align: center;
	height: 25px;
}

.customJs_list_header {
	font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
}

.customJs_list_table tr td:nth-child(1) {
	width: 20%;
}

.customJs_list_table tr td:nth-child(2) {
	width: 20%;
}

.customJs_list_table tr td:nth-child(3) {
	width: 20%;
}

.customJs_list_table tr td:nth-child(4) {
	width: 20%;
}

.customJs_list_table tr td:nth-child(5) {
	width: 20%;
}

.customJs_list_link {
	margin-left: 5px;
}

.customJs_list_input {
	min-width: 150px;
}

.list_colums_noDisplay {
    display: none;
}