
/*------------------AutoRefreshTime--------------------------start*/

.autoRefreshTime-cdiv{
    span.autoRefreshTime-cdiv-timeSpan
    {
        font-size: 18px;
        color: #4585bd;
        margin-right: 20px;
        width: 80px;
        font-weight: bold;
        display: inline-block;
    }

    span.autoRefreshTime-cdiv-daySpan
    {
        font-size: 18px;
        color: #4585bd;
        font-weight: bold;
    }
}


/*------------------AutoRefreshTime--------------------------end*/
