
// custom.less作用域整个项目SPG，隐藏已有控件，仅可能多增加上级：父dom的class名，保证【全局唯一】

// 我的消息--客户端
.searchbox-base.mysmessagepanel-searchbox { //  隐藏：右侧顶部搜索框
     display: none !important;
}
.mysmessagepanel-types #announcement { // 隐藏：菜单栏-公告
     display: none !important;
}
.mysmessagepanel-types #warning { // 隐藏：菜单栏-警告
    display: none !important;
}
.mysmessagepanel-types #pm { // 隐藏：菜单栏-私信
    display: none !important;
}

/**
 * 20220304 tuzw
 * 调整产品模块【我的消息】页面样式
 * 地址：https://jira.succez.com/browse/CSTM-17807
 */
// 我的消息--移动端
.tabbar-section #announcement {
    display: none !important;
}
.tabbar-section #warning { // 隐藏：菜单栏-警告
    display: none !important;
}
.tabbar-section #pm { // 隐藏：菜单栏-私信
    display: none !important;
    flex-direction: row !important;
}
.tabbar-section {
  width: 100%;
  flex-direction: row !important;
}
.mmysmessagepanel-tabbar .apptab.tabbar-base .tabbar-item {
  font-size: 18px !important; // 更改功能栏字体样式
}
#jsComponent1 .spgcomponent-body {
  display: block !important;  // 布局由flex改为block（去掉右部空白区域
}
.mmysmessagepanel-tabbar { // 功能栏模块背景白色，并设置背景上部分：圆角
   border-radius: 15px 15px 0px 0px !important;
   background-color: #ffffff !important;
}
.defaultLight.defaultLight.searchbox-base {
  background-color: white !important; // 顶部搜索栏背景【不能使用rgba】，内部数值会随机变化，暂未排查出问题，改为指定
}
// 可直接设置SPG的面板背景为：透明
// .mobile .spgpanel-base .spgcomponent-bg  { // 我的消息模块 背景透明（注意：spgcomponent-bg所有spg通用，暂时先关闭）
//   background-color: transparent !important;
// }
.mmysmessagepanel-base { // 整个我的消息背景改成：透明
  background: transparent !important;
}
// ---------------------------------------------------------------------------------------------------