

// 隐藏平台自带【添加计划】--启动
.dialog-container #enable {
    display: none!important;
}
// 隐藏平台自带【添加计划】--优先级
.dialog-container #enable {
    display: none!important;
}
// 隐藏平台自带【添加计划】--并行执行
.dialog-container #enable {
    display: none!important;
}
// 隐藏平台自带【添加计划】--时间设置
.dialog-container #enable {
    display: none!important;
}
// 隐藏平台自带【添加计划】--失败重试
.dialog-container #enable {
    display: none!important;
}
// 隐藏平台自带【添加计划】--指定集群节点
.dialog-container #enable {
    display: none!important;
}