.superpage-base {
    // 病案录入左侧列表
    &#ps3rA4O0LQHbWUv69YCYCB {
        // 选中后文字加粗
        .spglist-base#list1 .tablepaneleditor-container>.tablecelleditor-base.tablerow-selected {
            font-weight: bold;
        }
    }
    // 回收录入中的标签页图标定制：https://jira.succez.com/browse/CSTM-17879
    &#SUn6o0bfeLMWoAYN0g1BgE {
        .spgtabbar-base#tabbar1 {
            .visualtab > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                background: transparent none no-repeat 50% 50%/contain;
            }
            .visualtab {
                // 逐条回收
                &:nth-child(1) {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/icon-zt-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-zt.png);
                    }
                }
                // 批量回复
                &:nth-child(2) {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/icon-pl-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-pl.png);
                    }
                }
                // 病案催收
                &:nth-child(3) {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/icon-cs-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-cs.png);
                    }
                }
            }
        }
    }
    // 病案录入 切换选项卡时，图标颜色跟随字体颜色切换 https://jira.succez.com/browse/CSTM-18102
    &#ZnTMPBADjQKP4WrLxCfs0D {
        .spgtabbar-base#tabbar1 {
            .visualtab > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                background: transparent none no-repeat 50% 50%/contain;
            }
            .visualtab {
                // 基本信息
                &#jbxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/icon-jbxx-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-jbxx.png);
                    }
                }
                // 诊断信息
                &#zdxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/icon-zdxx-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-zdxx.png);
                    }
                }
                // 手术信息
                &#ssxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/icon-ssxx-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-ssxx.png);
                    }
                }
                // 其他信息
                &#qtxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/icon-qtxx-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-qtxx.png);
                    }
                }
                // 肿瘤卡
                &#zlkxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/icon-zlk-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-zlk.png);
                    }
                }
                // 中医卡
                &#zykxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/icon-zyk-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-zyk.png);
                    }
                }
                // 附加卡
                &#fjkxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/icon-fjk-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-fjk.png);
                    }
                }
                // 费用信息
                &#fyxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/icon-fyxx-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-fyxx.png);
                    }
                }
                // 妇婴卡信息
                &#fykxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/icon-fykxx-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-fykxx.png);
                    }
                }
            }
        }
    }

    // 病案录入-嵌入复制.spg 选择卡定制
    &#JsNHGAibvRJAgUK4DgVbWE {
        .spgtabbar-base#tabbar1 {
            min-height: auto !important;
            border: none !important;

            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 0;
                position: absolute;
                border-bottom: 2px solid #E0E5EA;
                bottom: 0;
                left: 0;
                z-index: 2;
            }

            .spgcomponent-bg {
                background: transparent !important;
            }

            .visualtabbar-currentline {
                display: none !important;
            }

            .visualtabbar-base {
                justify-content: flex-start !important;
            }

            .visualtab {
                background: #E6EAF1;
                border-radius: 10px 10px 0 0;
                margin: 0 0 0 10px !important;
                
                > .visualtab-body {
                    padding: 0 32px;
                    height: 35px;

                    > .visualtab-txtAndIcon {
                        padding: 0;
                    }
                }

                &.visualtab-first {
                    margin: 0 !important;
                }

                .visualtab-txt {
                    color: rgba(53, 58, 84, .5) !important;
                    font-size: 15px !important;
                }

                &.selected {
                    background: #3DBEB6;

                    .visualtab-txt {
                        color: #FFF !important;
                        font-size: 15px !important;
                    }
                }
            }

            .visualtab > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                background: transparent none no-repeat 50% 50%/contain;
            }

            .visualtab {
                // 基本信息
                &#jbxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/white/icon-jbxx-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-jbxx.png);
                    }
                }
                // 诊断信息
                &#zdxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/white/icon-zdxx-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-zdxx.png);
                    }
                }
                // 手术信息
                &#ssxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/white/icon-ssxx-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-ssxx.png);
                    }
                }
                // 其他信息
                &#qtxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/white/icon-qtxx-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-qtxx.png);
                    }
                }
                // 肿瘤卡
                &#zlkxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/white/icon-zlk-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-zlk.png);
                    }
                }
                // 中医卡
                &#zykxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/white/icon-zyk-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-zyk.png);
                    }
                }
                // 附加卡
                &#fjkxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/white/icon-fjk-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-fjk.png);
                    }
                }
                // 费用信息
                &#fyxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/white/icon-fyxx-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-fyxx.png);
                    }
                }
                // 妇婴卡信息
                &#fykxx {
                    // 高亮
                    &.selected {
                        > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                            background-image: url(images/commons/white/icon-fykxx-c.png);
                        }
                    }
                    // 正常
                    > .visualtab-body > .visualtab-txtAndIcon > .visualtab-icon {
                        background-image: url(images/commons/icon-fykxx.png);
                    }
                }
            }
        }

        //病案录入-病案质控提示信息 悬浮不占位
        #panel1.spgpanel-base>.spgcomponent-body{
            #panel11,
            #panel38,
            #panel121,
            #panel31,
            #panel124,
            #panel35,
            #panel135,
            #panel36,
            #panel127,
            #panel41,
            #panel42,
            #panel43,
            #panel44,
            #panel45,
            #panel95,
            #panel46{
                overflow: visible;
            
                .spgcomponent-body,
                .spgcomponent{
                    overflow: visible;
                }
            }
            .spginput-errormessage{
                position: absolute;
                background: rgba(255,245,245);
                border-radius: 4px;
            }
        }
    }
}

/** 聚焦输入框样式 */
.inputFocus{
    background-color: #ff4040;
    // border-style:solid;
    // border-color: #03a9f4;
	// box-shadow: 0 0 15px #03a9f4;
}
/** 
   自定义等待框样式（showWaiting）
   帖子地址：https://jira.succez.com/browse/CSTM-18520
 */
.waiting-ring-active {
    width: 400px! important;
    height: 230px !important;
    background-image: url(images/SY/jz2.gif)  !important ;
    object-fit: cover !important ;
    background-repeat: no-repeat !important;
    background-position: center !important;
    // background-size: 100% !important;
    border: 1px solid rgb(221, 219, 219) !important;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 40%) !important;
}
.waiting-ring .progressring-base {
    border-radius: 0% !important;
    background-color: transparent !important;
}
.waiting-ring-active .progressring-ring {
    display: none !important;
}
.waiting-ring-active .progressbar-loop {
    display: none !important;
}
.waiting-ring-active .progressring-circle { // 隐藏"转圈圈"样式
    display: none !important;
}
//----------------------------------------------------------------------------

// 病案质控检测文字 @see https://jira.succez.com/browse/CSTM-18427
.local_error_text {
    font-weight: bold !important;
    color: #ff4040 !important;
}

.tablecelleditor-prefix{

    font-size: inherit;
    background-image: url(/baglxt/api/attachment/HBAGL/library/icons/d638877….svg?v=202202240905-512d6172-3721);
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 15px;
    vertical-align: text-bottom;
}

#我的首页,
#SY1_copy{
    #panel20>.spgcomponent-body>.spgpanel-base:hover>.spgcomponent-bg,
    #panel20>.spgcomponent-body>.sy-dbrw-select>.spgcomponent-bg{
        background: #3dbeb6 !important;
    }


    #panel20>.spgcomponent-body>.spgpanel-base:hover .visualtext-base,
    #panel20>.spgcomponent-body>.sy-dbrw-select .visualtext-base{
        color: #fff !important;
    }

  
    //回收
    #panel20>.spgcomponent-body>#panel16:hover,
    #panel20>.spgcomponent-body>#panel16.sy-dbrw-select{
        .spgicon-base>.spgcomponent-body{
            display: none;
        }
        .spgicon-base>.spgcomponent-bg{
            background: url(images/daiban/回收-浅色.png) no-repeat center center/30px 30px;
        }
    }
    //录入
    #panel20>.spgcomponent-body>#panel18:hover,
    #panel20>.spgcomponent-body>#panel18.sy-dbrw-select{
        .spgicon-base>.spgcomponent-body{
            display: none;
        }
        .spgicon-base>.spgcomponent-bg{
            background: url(images/daiban/录入-浅色.png) no-repeat center center/30px 30px;
        }
    }
      //质控
    #panel20>.spgcomponent-body>#panel13:hover,
    #panel20>.spgcomponent-body>#panel13.sy-dbrw-select{
        .spgicon-base>.spgcomponent-body{
            display: none;
        }
        .spgicon-base>.spgcomponent-bg{
            background: url(images/daiban/质控-浅色.png) no-repeat center center/30px 30px;
        }
    }


    //待归还
    #panel20>.spgcomponent-body>#panel21:hover,
    #panel20>.spgcomponent-body>#panel21.sy-dbrw-select{
        .spgicon-base>.spgcomponent-body{
            display: none;
        }
        .spgicon-base>.spgcomponent-bg{
            background: url(images/daiban/归还-浅色.png) no-repeat center center/30px 30px;
        }
    }
    //待上报
    #panel20>.spgcomponent-body>#panel23:hover,
    #panel20>.spgcomponent-body>#panel23.sy-dbrw-select{
        .spgicon-base>.spgcomponent-body{
            display: none;
        }
        .spgicon-base>.spgcomponent-bg{
            background: url(images/daiban/上报-浅色.png) no-repeat center center/30px 30px;
        }
    }
    //待归档
    #panel20>.spgcomponent-body>#panel43:hover,
    #panel20>.spgcomponent-body>#panel43.sy-dbrw-select{
        .spgicon-base>.spgcomponent-body{
            display: none;
        }
        .spgicon-base>.spgcomponent-bg{
            background: url(images/daiban/归档-浅色.png) no-repeat center center/30px 30px;
        }
    }
}
