/**
 * 2022-11-08 tuzw
 * 定制指定门户明细表控件样式
 */
.custom-dash-group-table {
    .paginator-totalcount {
        margin-right: 10px;
        position: relative;
        color:#B5B8BF;
    }

    .paginator-btn-selected {
        color:#B5B8BF;
    }

    .paginator-dot {
    color:#B5B8BF;  
    }

    .paginator-prev {
        color:#B5B8BF;  
    }

    .paginator-next {
        color:#B5B8BF;  
    }
}
//---------------------------------------------------------