
/**
 * 20220704 tuzw
 * 选择列表样式功能需求
 * 地址：https://jira.succez.com/browse/CSTM-19401
 */
.custom-selector-list-icon { // 图标样式
    background: url(images/Vector.jpg) no-repeat 4px;
    padding-left: 20px;
    line-height: 24px;
}

.custom-selector-list-no-icon { // 无图标样式
    padding-left: 20px;
}

.dip-custom-selector-list .list-row { // 隐藏内部节点的横线
    border-bottom: 0px solid rgb(224, 224, 224) !important;
    height: 36px !important;
    align-items: stretch !important;
}

.dip-custom-selector-list .list-header { // 给列表标题栏添加下拉框冻结线
    border-bottom: #46A4FF solid 2px !important;
}

.dip-custom-selector-list .item-selected { // 节点点击后的节点样式
    background-color: #F1F7FD !important;
    .item-caption {
        color: #0182FF !important;
    }
}