
/**
 * 20210621 chenjb 定制聊天框
 * 帖子：https://jira.succez.com/browse/CSTM-15774
 * 若是移动端，则外层样式改为：.spg-mobile .mlist-base.custom-mlist-base 
 * 
 * 20220113 tuzw
 * 帖子：政策咨询页面功能实现
 * 地址：https://jira.succez.com/browse/BI-43077
 */
.mlist-base.custom-mlist-base {
	// 对话框所在SPG
	&.zczx-spg {
		.mlistitem-base {
			border: none !important;
			/**
			 * 这里的背景是动态增高的，不建议设置背景
			 * background-color: #F2F4F5;
			 */
			>.mlistitem-inner>.mlistitem-content {
				&.has-icon {
					grid-template-columns: 55px auto auto auto 1fr;
				}
				.mlistitem-buttons,
				.mlistitem-badge {
					display: none !important;
				}
				.mlistitem-icon {
					height: 42px;
					margin: 0 12px 0 0;
				}
				.mlistitem-caption {
					font-size: 12px !important;
				}
				.mlistitem-time {
					align-items: center;
				}
				.mlistitem-attrs {
					grid-row: ~"2/10";
					grid-column: ~"2/10";
					display: flex;
					justify-content: flex-start;
				}
				.mlistitem-attr {
					word-break: break-all !important;
					white-space: pre-wrap !important;
					overflow: visible !important;
					color: #000 !important;
					background: #ffffff;
					border-radius: 3px;
					padding: 12px;
					margin: 2px 0 0 0;
					min-height: 28px;
					&:before {
						content: "";
						display: block;
						width: 0;
						height: 0;
						border: 8px solid transparent;
						border-right: 8px solid #EFEFEF;
						position: absolute;
						top: 8px;
						left: -16px;
						right: auto;
					}

					.mlistitem-button {
						margin: 12px;
					}
				}
			}
			&.current>.mlistitem-inner>.mlistitem-content {
				&.has-icon {
					grid-template-columns: 1fr auto auto auto 55px;
				}
				.mlistitem-icon {
					grid-column: 5;
					margin: 0 0 0 12px;
				}
				.mlistitem-caption {
					grid-column: 4;
				}
				.mlistitem-time {
					grid-column: 1;
					justify-content: flex-start;
					padding: 0 6px 0 0 !important;
				}
				.mlistitem-attrs {
					grid-column: ~"1/5";
					justify-content: flex-end;
				}
				.mlistitem-attr {
					background: #7ba5e4;
					color: #ffffff !important;

					&:before {
						content: "";
						display: block;
						width: 0;
						height: 0;
						border: 8px solid transparent;
						border-left: 8px solid  #7ba5e4;
						position: absolute;
						top: 8px;
						left: auto;
						right: -16px;
					}
				}
			}
		}
		// 聊天背景设置
		.mlist-content {
			background-color: #F2F4F5 !important;
		}
	}
}